body {
    box-sizing: border-box;
  }

  .container {
    overflow: hidden;
  }

  .categories {
    float: left;
  }

  .logo {
    width: 120px;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
  }